@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    .specialtext
    {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    }

    @font-face{
        font-family: 'Milker';
        src: url('@/assets/Milker/Milker.otf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'poppins';
        src: url('@/assets/Poppins/Poppins-Regular.ttf') format('truetype');
        font-weight: 100 900;
        font-style: normal;
    }

    @font-face {
        font-family: 'playfair';
        src: url('@/assets/Serif/Domine-VariableFont_wght.ttf') format('truetype');
        font-weight: 100 900;
        font-style: normal;
    }

}
