@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

    @font-face {
        font-family: 'GasoekOne';
        src: url('@/assets/Gasoek/GasoekOne-Regular.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    @font-face{
        font-family: 'Milker';
        src: url('@/assets/Milker/Milker.otf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'poppins';
        src: url('@/assets/Poppins/Poppins-Regular.ttf') format('truetype');
        font-weight: 100 900;
        font-style: normal;
    }

    @font-face {
        font-family: 'playfair';
        src: url('@/assets/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
        font-weight: 100 900;
        font-style: normal;
    }


}
