@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Raleway';
      src: url('@/assets/Raleway-Black.ttf') format('ttf');
      font-weight: 900;
      font-style: normal;
    }
    @font-face {
        font-family: 'Raleway';
        src: url('@/assets/Raleway-ExtraBold.ttf') format('ttf');
        font-weight: 800;
        font-style: normal;
    }
    @font-face {
      font-family: 'Raleway';
      src: url('@/assets/Raleway-Bold.ttf') format('ttf');
      font-weight: 700;
      font-style: normal;
    }
    @font-face {
        font-family: 'Raleway';
        src: url('@/assets/Raleway-SemiBold.ttf') format('ttf');
        font-weight: 600;
        font-style: normal;
      }
    @font-face {
      font-family: 'Raleway';
      src: url('@/assets/Raleway-Medium.ttf') format('ttf');
      font-weight: 500;
      font-style: normal;
    }
    @font-face {
      font-family: 'Raleway';
      src: url('@/assets/Raleway-Regular.ttf') format('ttf');
      font-weight: 400;
      font-style: normal;
    }
    @font-face {
      font-family: 'Raleway';
      src: url('@/assets/Raleway-Light.ttf') format('ttf');
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: 'Raleway';
      src: url('@/assets/Raleway-Thin.ttf') format('ttf');
      font-weight: 200;
      font-style: normal;
    }

    @font-face {
      font-family: 'GasoekOne';
      src: url('@/assets/GasoekOne-Regular.ttf') format('ttf');
      font-weight: 400;
      font-style: normal;
    }


  }